body{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mega-numeros{
  display: flex;
  flex-wrap: wrap;
}
.mega-sena{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}
.display-mega{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  background-color: #222;
  color: #fff;
  font-size: 2rem;
  margin: 20px;
}
.btn{
  background-color: #D44D5C;
  padding: 8px;
  border: none;
  color: #fff;
  font-weight: 700;
  transition: all 300ms;
}
.btn:hover{
  background-color: #f84a5e;
}
.btn:active{
  transform: scale(.9);
}
input{
  padding: 8px;
  border: none;
  border-bottom: 1px solid #D44D5C;
}
input:focus{
  border: none;
  border-bottom: 1px solid #D44D5C;
  outline: none;
}